<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Olstats</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">QjeX olstats</a>
                <ul class="nav navbar-nav">
                    <li><a href="/lists">Lists</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="btn btn-primary btn-xs" th:href="@{/lists}">Назад</a>
                <a class="btn btn-primary btn-xs" th:href="@{user/add}">Добавить</a>
            </div>
            <div class="panel-body">
                <form action="#" th:action="@{/lists/{id}/update(id=${listId})}" method="POST">
                    <div class="form-inline">
                        <input class="form-control" type="text" name="name" id="name" th:value="${listName}" placeholder="Название списка" />
                        <input class="btn btn-default" type="submit" value="Изменить" />
                    </div>
                </form>

            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Действие</th>
                    </tr>
                </thead>

                <tr th:each="user, idStat : ${users}">
                    <td th:text="${user.name}">Name</td>
                    <td>
                        <form th:action="@{user/{pos}/delete(pos=${idStat.index})}" method="POST">
                            <a class="btn btn-primary" th:href="@{user/{pos}/update(pos=${idStat.index})}">Изменить</a>
                            <input class="btn btn-danger" type="submit" value="Удалить" />
                        </form>
                    </td>

                </tr>
            </table>

        </div>


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>